.scene {
    width: 600px;
    height: 320px;
    overflow: hidden;
    position: relative;
    border: 1px solid #000;
    background: #c2e1fe;
}

.scene::before {
    content: 'Game Over';
    position: absolute;
    text-align: center;
    top: 50px;
    left: 0;
    right: 0;
    color: #274d79;
    font-size: 42px;
    display: none;
}

.scene.gameover::before {
    display: block;
}

.scene::after {
    content: '';
    border-top: 1px solid #000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90px;
    background: #caab79;
    z-index: 1;
}

.score {
    position: absolute;
    top: 10px;
    right: 10px;
}

.rabbit {
    background-image: url("./img/rabbit.png");
    background-repeat: no-repeat;
    background-position: 0 -22px;
    position: absolute;
    z-index: 2;
}

.obstacle {
    background-image: url('./img/cactus.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
}