* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  width: 100vh;
  height: 100vh;
  background: url(img/bg.jpg) no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/*.header {*/
  /*height: 300px;*/
  /*background: url("./img/app-bg.png") no-repeat right;*/
  /*background-size: contain;*/
  /*font-size: 36px;*/
/*}*/

/*.header h1 {*/
  /*margin: auto;*/
  /*padding: 20px;*/
  /*display: inline-block;*/
/*}*/

/*form {*/
  /*width: 300px;*/
  /*float: right;*/
  /*position: relative;*/
  /*top: 243px;*/
  /*left: -340px;*/
  /*margin-bottom: 20px;*/
/*}*/

form input {
  height: 40px;
  padding: 4px;
  font-size: 18px;
  display: inline-block;
  width: 200px;
  outline: none;
}

form button {
  width: 90px;
  height: 40px;
  position: relative;
  cursor: pointer;
  background: cornflowerblue;
  border: none;
  outline: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
}

form button:hover {
  background: dodgerblue;
}

.weather-view h2 {
  margin-left: 200px;
  font-size: 34px;
}

.city-name {
  color: blue
}

.weather-view_details {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 800px;
  margin: 30px auto 0;
  background: #96d1da;
  border-radius: 5px;
  padding: 10px;
}

.weather-view_details p {
  height: 100px;
  border: 2px solid floralwhite;
  padding: 5px;
  border-radius: 5px;
  min-width: 200px;
  text-align: center;
  font-size: 18px;
  line-height: 36px;

}