/* =Global Styles
-------------------------------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    color: #d5ead2;
    font-family: Arial, Helvetica, sans-serif;
    background: #17313a;
    font-size: 14px;
    line-height: 22px;
}

.page {
    width: 810px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    padding-bottom: 65px;
}

h2,
legend {
    font-weight: normal;
    color: #469054;
    font-size: 20px;
    margin-bottom: 12px;
}

a {
    color: #20b2ec;
    font-size: 15px;

    &:hover {
        text-decoration: none;
    }
}

.links__list {
    padding-left: 20px;
    list-style-image: url("../images/list-style-testimonials.gif");
    margin-right: 45px;
    width: 355px;

    li {
        margin-bottom: 16px;
    }
}


/* =Header
-------------------------------------------------- */

.header {
    background: url("../images/header-bg.jpg") no-repeat center top;
    padding: 50px 0;
}

/* =Navigation
-------------------------------------------------- */

.nav {
    padding: 0 5px;
    font-size: 13px;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: url("../images/hr.gif");
    }

    .nav__item {
        display: inline-block;
        margin-right: 20px;
        width: 172px;
        padding: 40px 0 55px 20px;
        height: 140px;
        margin-bottom: 15px;
        text-decoration: none;
        color: #d5ead2;
        font-size: 13px;

        &:last-child {
            margin-right: 0;
        }
    }

    .nav__item--about {
        width: 192px;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        background: linear-gradient(to bottom, #c0ecb4 0%,#b8e7ae 12%,#aedda3 24%,#8ec284 51%,#8ac182 52%,#84bb7c 59%,#7bb471 65%,#6eaa67 75%,#599851 100%);
    }

    .nav__item--services {
        background: linear-gradient(to bottom, #b5eaec 0%,#aee4e7 9%,#a9e3e5 10%,#97d4d7 26%,#7cc1c4 42%,#5facb2 56%,#40969a 74%,#28868c 89%,#1e7f84 100%);
    }

    .nav__item--projects {
        position: relative;
        top: 5px;
        background: linear-gradient(to bottom, #ebd0b4 0%,#ebceb1 5%,#e6c0a2 20%,#e0b391 31%,#dda487 39%,#cc7553 72%,#c86442 85%,#c45735 100%);

        span {
            position: relative;
            top: -5px;
        }
    }

    .nav__item--contact {
        width: 192px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        background: linear-gradient(to bottom, #d5e493 0%,#cad887 15%,#c6d582 18%,#becc78 26%,#9fae56 50%,#8c983f 63%,#808a2f 75%,#7f892b 76%,#7e882d 76%,#778226 81%,#717c1f 88%,#6e7819 90%,#67700f 100%);
    }

    //Contact on the News page
    .nav__item--grey {
        background: linear-gradient(to bottom, #dbdbdb 0%,#d9d9d9 5%,#d5d5d5 7%,#cccccc 19%,#c8c8c8 21%,#cacaca 22%,#c6c6c6 23%,#c5c5c5 27%,#c2c2c2 28%,#b7b7b7 36%,#b6b6b6 38%,#afafaf 42%,#a8a8a8 48%,#a5a5a5 49%,#a6a6a6 49%,#a2a2a2 50%,#a3a3a3 51%,#848484 73%,#858585 75%,#7d7d7d 79%,#7d7d7d 81%,#727272 90%,#727272 92%,#6f6f6f 93%,#6f6f6f 96%,#6c6c6c 97%,#6b6b6b 99%,#6d6d6d 99%,#6b6b6b 100%);
    }
}

/* =Main
-------------------------------------------------- */

.main {
    padding-top: 22px;
    overflow: hidden;
    padding-bottom: 300px;

    .main__content {
        float: left;
    }

    .main__aside {
        float: right;
    }
}

/* =About
-------------------------------------------------- */

.about {
    padding-top: 15px;
    font-size: 15px;

    &:after {
        margin-top: 16px;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: url("../images/hr.gif");
    }
}

.features {
    margin-right: 85px;

    div {
        width: 325px;
        height: 230px;
        border-radius: 15px;
        background: linear-gradient(to bottom, #d3f3ca 0%,#d1f1c8 3%,#d2f2ca 4%,#d0f0c7 5%,#caedc4 12%,#bce0b5 26%,#b8deaf 28%,#b3d9aa 33%,#acd6a4 36%,#a1cd9a 45%,#9fcb96 45%,#92c48c 54%,#73ac6c 76%,#6ca565 84%,#68a461 84%,#67a35f 86%,#5b9a53 100%);
    }
}

/* =News
-------------------------------------------------- */

.news {
    width: 390px;
    margin-right: 20px;

    p {
        margin-bottom: 14px;
    }
}

/* =Services
-------------------------------------------------- */

.services {
    padding: 8px 5px 300px;
    color: #a6ce9d;
    overflow: hidden;
}

.services__item {
    width: 33.333%;
    float: left;
    border-left: 1px dashed #a6ce9d;

    &:last-child {
        border-right: 1px dashed #a6ce9d;
    }

    h3 {
        font-size: 22px;
        font-weight: normal;
        padding: 12px 50px 0 10px;
    }

    ul {
        list-style-image: url("../images/list-style-image.gif");
        padding: 22px 0 80px 15px;
        list-style-position: inside;

    }

    li {
        margin-bottom: 20px;
        font-size: 17px;
    }
}

/* =Projects
-------------------------------------------------- */

.projects {
    padding-top: 15px;
    padding-left: 14px;
    width: 504px;
    overflow: hidden;
    margin-right: 65px;
}

.projects__item {
    width: 230px;
    float: left;
    margin-bottom: 25px;

    &:nth-child(even) {
        margin-left: 30px;
    }

    .projects__item__img {
        display: inline-block;
        width: 231px;
        height: 147px;
        background: #204e5d;
        padding: 10px;
        position: relative;

        img {
            height: 127px;
            width: 211px;
        }
    }

    .overlay {
        display: none;
        width: 211px;
        height: 127px;
        background: rgba(0, 0, 0, .3);
        position: absolute;
        top: 10px;
        left: 10px;
        transition: 0.5s ease;
    }

    .projects__item__img:hover .overlay {
        display: block;
    }

    p {
        width: 100%;
        text-align: right;
        color: #20b2ec;

        a {
            float: left;
        }
    }
}

.main__aside--projects {
    width: 235px;
}

/* =Contact
-------------------------------------------------- */

.contact {
    padding: 23px 0 300px 0;

    fieldset {
        border: none;
    }

    input,
    textarea {
        width: 253px;
        height: 24px;
        background: #c0ecb5;
        margin-bottom: 10px;
        border: none;
        outline: none;
        padding: 2px 1px;

        &:focus {
            background: #8aa087;
            border: 1px solid #fff;
        }
    }

    textarea {
        width: 420px;
        height: 150px;
    }

    label {
        margin-right: 20px;
        vertical-align: top;
        text-align: right;
        width: 75px;
        display: inline-block;
        font-size: 14px;
    }

    button {
        margin-left: 95px;
        text-align: center;
        width: 122px;
        background: #5a9953;
        color: #c0ecb5;
        border: 1px solid #c0ecb5;
        padding: 5px 0;

        &:hover {
            cursor: pointer;
        }
    }
}

/* =Footer
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 0 5px 10px;
    height: 65px;
    font-size: 13px;

    &:before {
        margin-bottom: 5px;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: url("../images/hr.gif");
    }

    a {
        color: #ffffff;
        font-size: 13px;
        margin-right: 5px;
    }
}