* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #060AB2;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transition: all .5s;
    transform-style: preserve-3d;
    transform: scale(1);
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 5px;
    background: #1C7CCC;
}

.front-face {
    transform: rotateY(180deg);
}

@media screen and (max-width: 750px) and (max-height: 500px) {
    .memory-game {
        width: 50%;
        height: 90%;
    }

    .memory-card {
        width: calc(25% - 8px);
        height: calc(33.333% - 8px);
        margin: 4px;
    }

    .front-face,
    .back-face {
        padding: 10px;
    }
}
