/* =Global Styles
-------------------------------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

$blue: #2bafde;
$main-color: #4f4f4f;

body {
    color: $main-color;
    font-size: 13px;
    font-family: Tahoma, Arial, sans-serif;
    background: #ededed;
}

.page {
    min-height: 100%;
    position: relative;
    padding-bottom: 70px;
    width: 1020px;
    margin: 0 auto;
    box-shadow: 1px 0 2px rgba(0,0,0, .2), -1px 0 2px rgba(0,0,0, .2);
    background: #fff;
}

a {
    color: $blue;
    transition: all 0.1s;

    &:hover {
        text-decoration: none;
    }
}

h1 {
    font-size: 15px;
    border-bottom: 1px solid #6b6b6b;
    padding: 17px 0 5px;
    margin-bottom: 20px;
    color: #6b6b6b;
}

dt {
    color: $blue;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: bold;
}

@mixin icon ($margin-right, $width, $height) {
    content: "";
    display: inline-block;
    margin-right: $margin-right;
    width: $width;
    height: $height;
}

/* =Header
-------------------------------------------------- */

.header {
    padding: 24px 60px 32px 50px;
}

.header__nav {
    float: right;

    a {
        text-decoration: none;
        color: $main-color;

        &:hover {
            text-decoration: underline;
        }

        &:first-child {
            margin-right: 60px;
        }
    }
}

.header__nav__item--home::before {
    @include icon(8px, 11px, 10px);
    background: url("../images/header-nav-home.gif") 0 0;
}

.header__nav__item--home:hover::before {
    background: url("../images/header-nav-home.gif") 0 10px;
}

.header__nav__item--contacts::before {
    @include icon(8px, 11px, 8px);
    background: url("../images/header-nav-contacts.gif") 0 0;
}

.header__nav__item--contacts:hover::before {
    background: url("../images/header-nav-contacts.gif") 0 8px;
}

/* =Navigation
-------------------------------------------------- */

.nav-container {
    height: 166px;
    background: url("../images/nav-bg.jpg");
    overflow: hidden;
    padding-top: 50px;
    padding-left: 102px;

    .nav-container__logo {
        display: inline-block;
        text-indent: -150px;
        width: 395px;
        height: 60px;
    }
}
.nav {
    float: right;
    margin-top: 95px;

    .nav__item {
        text-decoration: none;
        color: #f3ebeb;
        background: #2bafd9;
        padding: 8px 15px 4px;
        border: 1px solid #b1b1b1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        &:hover,
        &.active {
            background: #fff;
            color: #2bafd9;
            border-bottom: none;
            padding-bottom: 6px;
        }
    }
}

/* =Main Grid
-------------------------------------------------- */

.main {
    overflow: hidden;
    padding: 20px 9px 80px 9px;

    .main__left,
    .main__right {
        float: left;
        width: 200px;
    }

    .main__content {
        float: left;
        width: 560px;
        line-height: 20px;
        margin: 0 23px 0 19px;
    }
}

.widget {
    background: #ededed;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
}

/* =Menu widget
-------------------------------------------------- */

.menu-widget {
    list-style-position: inside;
    list-style-image: url("../images/list-style-img.gif");
    padding: 14px 0 2px 20px;

    li {
        margin-bottom: 16px;

        a {
            text-decoration: none;
            color: $main-color;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* =Contact widget
-------------------------------------------------- */

.contact-widget {
    padding: 15px 0 16px 13px;

    p {
        margin-bottom: 16px;
    }

    a {
        display: block;
        font-weight: bold;
    }

    .contact-widget--email::before {
        @include icon(8px, 18px, 15px);
        background: url("../images/contact-email.gif") 0 15px;
        position: relative;
        top: 2px;
    }

    .contact-widget--email:hover::before {
        background: url("../images/contact-email.gif") 0 0;
        top: 4px;
    }

    .contact-widget--phone::before {
        @include icon(11px, 15px, 27px);
        background: url("../images/contact-phone.gif") 0 27px;
        position: relative;
        top: 12px;
    }

    .contact-widget--phone:hover::before {
        background: url("../images/contact-phone.gif") 0 0;
        top: 14px;
    }
}

/* =Content section on the About page
-------------------------------------------------- */

.about > p {
    padding: 7px 36px 36px 0;

    a {
        text-decoration: none;
        border-bottom: 1px dashed $blue;

        &:hover {
            border-bottom: none;
        }
    }
}

.development {
    overflow: hidden;
    padding-bottom: 22px;
    border-bottom: 1px dashed #a2a2a2;

    h2 {
        color: $blue;
        padding-bottom: 5px;
        border-bottom: 1px solid #d9d9d9;
        margin-bottom: 2px;
        font-size: 15px;
    }

    .development__item {
        float: left;
        width: calc(50% - 10px);

        &:first-child {
            margin-right: 20px;
        }
    }

    p {
        background: linear-gradient(to bottom, #f3f3f3 0%,#ffffff 47%,#ffffff 100%);
        line-height: 20px;
        padding: 14px 12px 0 10px;
    }

    a {
        margin-top: 30px;
        margin-right: 18px;
        float: right;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &::after {
            content: "";
            display: inline-block;
            margin-right: 8px;
            width: 9px;
            height: 5px;
            background: url("../images/learn-more-arrow.gif") 0 0;
            margin-left: 10px;
        }
    }
}

/* =Featured Projects
-------------------------------------------------- */

.featured-container {
    padding-top: 7px;

    h3 {
        color: $blue;
        font-size: 13px;
        padding-bottom: 18px;
    }
}

.featured {
    padding-left: 22px;
}

.featured__item {
    float: left;
    width: 50%;
    margin-bottom: 20px;
    color: #949494;

    .featured__item__img {
        float: left;
        width: 90px;
        height: 90px;
        background: #dedede;
        padding: 4px;
        border: 1px solid #b5b5b5;
        margin-right: 10px;
    }

    h4 {
        color: $main-color;
        margin-bottom: 5px;
    }
}

/* =Advantages
-------------------------------------------------- */

.advantages {
    dl {
        padding-left: 26px;
    }
}

/* =FAQ
-------------------------------------------------- */

.faq {

    dl {
        margin-left: -10px;
    }

    dt {
        padding: 0 0 0 27px;
        margin: 0;
    }

    dd {
        display: none;
        padding: 0 0 13px 26px;
    }

    .shown {
        display: block;
        background: #f3f3f3;
    }
}

/* =Contact
-------------------------------------------------- */

.contact {
    padding-left: 35px;

    .field,
    img {
        margin-bottom: 10px;
    }

    label {
        display: block;
        font-size: 12px;
    }

    .field__required:before {
        content: "* ";
        color: $blue;
    }

    input {
        width: 274px;
        height: 20px;
        padding: 1px;
    }

    textarea {
        width: 276px;
        height: 145px;
        padding: 1px;
    }

    [type="file"] {
        border: 1px solid #9c9c9c;
        height: 24px;
        padding: 0;
    }

    img {
        border: 1px solid #9c9c9c;
        margin-left: 85px;
        width: 186px;
        height: 43px;
    }

    button {
        width: 94px;
        background: #ededed;
        padding: 7px 0;
        text-align: center;
        outline: 0;
        font-weight: bold;
        color: #6b6b6b;
        border-radius: 5px;
        border: 1px solid #d5d5d5;
        box-shadow: inset 1px 1px 1px #fff, inset -1px -1px 1px #fff;
        cursor: pointer;

        &:hover {
            box-shadow: 1px 1px 1px #f3ebeb, inset -1px -1px 1px #fff;
        }
    }
}

/* =Footer
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 17px 27px 12px 30px;
    border-top: 1px solid #d5d5d5;
    background: #ededed;

    p {
        display: inline-block;
        color: $blue;
        margin-left: 8px;
        position: relative;
        top: -8px;
    }
}

.footer__nav {
    float: right;

    a {
        padding-right: 5px;
        border-right: 1px solid $main-color;
        color: $main-color;
        text-decoration: none;

        &:last-child {
            padding-right: 0;
            border-right: 0;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}