* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #fff;
}

.container {
    margin: 0 auto;
    width: 90%;
}

button,
a {
    transition: background 0.2s ease-in-out;
}

/*-----------------------------header-section---------------------------*/

.header-section {
    height: 700px;
    background: url("../images/bg-1.jpg") no-repeat fixed center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/*-----------------------------nav-section---------------------------*/

.nav-container {
    padding: 25px 0;
    background: #353c4b;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav {
    display: flex;
}

.nav__item {
    font-size: 20px;
    padding: 10px 30px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    margin-right: 25px;
}

.nav__item:last-of-type {
    margin-right: 0;
}

.nav__item.active,
.nav__item:hover {
    background: #474f5f;
}

.main-slogan h1,
.main-slogan p {
    text-align: center;
    color: #fff;
    font-size: 34px;
}

.main-slogan h1 {
    margin-top: 300px;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: normal;
    letter-spacing: 4px;
    text-shadow: 1px 1px #000;
}

/*-----------------------------features-section---------------------------*/

.features-section {
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.feature {
    width: calc((100% - 80px) / 3);
    background: #f2f2f2;
    flex-wrap: wrap;
    margin-right: 40px;
    min-width: 230px;
    color: #575757;
    font-size: 15px;
    line-height: 22px;
}

.feature__img {
    width: 100%;
}

.feature a {
    text-decoration: none;
}

.feature:last-of-type {
    margin-right: 0;
}

.feature__content-wrapper {
    padding: 30px 25px 40px;
}

.feature__title {
    font-size: 26px;
    margin-bottom: 20px;
}


.feature__title--green {
    color: #108b22;
}

.feature__title--blue {
    color: #2c94c8;
}

.feature__title-grey {
    color: #666666;
}

.feature__btn {
    text-align: center;
    display: block;
    width: 190px;
    margin: 32px auto 0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 16px 0;
    font-size: 18px;
    background: #108b22;
}

.feature__btn:hover {
    background: #52AB5F;
}

.feature__btn--blue {
    background: #0f87c2;
}

.feature__btn--blue:hover {
    background: #3E9FCE;
}

.feature__btn--red {
    background: #861f01;
}

.feature__btn--red:hover {
    background: #9E4B33;
}

/*-----------------------------articles-section---------------------------*/

.articles-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 50px;
}

.article {
    width: calc((100% - 40px) / 2);
    background: #f2f2f2;
    min-width: 260px;
    color: #575757;
    font-size: 15px;
    line-height: 22px;
}

.article:first-of-type {
    margin-right: 40px;
}

.article__img {
    width: 100%;
}

.article__content-wrapper {
    padding: 30px 30px 40px;
}

.article__title {
    color: #666666;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
}

p:not(:first-of-type) {
    margin-top: 25px;
}

.article__btn {
    display: block;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    margin-top: 20px;
    color: #696969;
    border: 1px solid #696969;
    width: 160px;
    padding: 14px 0;
    text-align: center;
    font-size: 16px;
    float: right;
    margin-bottom: 30px;
}

.article__btn:hover {
    background: #E6E6E6;
}

/*-----------------------------services-section---------------------------*/

.services-section {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: url("../images/bg-2.jpg") no-repeat fixed top;
    opacity: 0.9;
    overflow: hidden;
}

.services-section h2 {
    margin-bottom: 35px;
    font-size: 36px;
    letter-spacing: 2px;
    text-shadow: 2px 2px #666666;
}

.services-section p {
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}

/*-----------------------------stories-section---------------------------*/

.stories-section {
    padding: 70px 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.story {
    background: #f2f2f2;
    min-width: 230px;
    color: #666666;
    margin-bottom: 30px;
    width: calc(25% - 20px);
    margin-right: 20px;
}

.story:nth-of-type(4) {
    margin-right: 0;
}

.story__img {
    width: 100%;
}

.story__content-wrapper {
    padding: 25px 20px 15px;
}

.story h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.story p {
    line-height: 22px;
}

.story__btn {
    margin: 25px auto 0;
    display: block;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    color: #696969;
    border: 1px solid #696969;
    width: 140px;
    padding: 12px 0;
    text-align: center;
    font-size: 16px;
}

.story__btn:hover {
    background: #E6E6E6;
}

.main-story.story {
    width: 100%;
    margin-right: 0;
}

.main-story h3 {
    text-align: left;
}

.main-story .story__btn {
    margin: 20px 0 0;
}

/*-----------------------------contact-section---------------------------*/

.contact-section {
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/bg-3.jpg") no-repeat fixed center;
    background-size: cover;
}

.form {
    width: 720px;
    margin: 0 auto;
    color: #323333;
}

.form h2,
.form p {
    text-align: center;
}

.form h2 {
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 2px #353c4b;
    letter-spacing: 1px;
    font-weight: normal;
}

.form p {
    padding: 20px 50px 30px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0 20px;
    background: rgba(245, 245, 245, 0.4);
}

.form .form-container {
    border: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: calc(50% - 15px);
}

.form-group:first-of-type {
    margin-right: 30px;
}

.form input,
.form textarea {
    background: rgba(245, 245, 245, 0.4);
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    width: 100%;
    margin-bottom: 17px;
    outline: none;
}

.form textarea::placeholder,
.form input::placeholder{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #323333;
    font-size: 16px;
}

.form button {
    width: 110px;
    background: #000;
    color: #fff;
    border: 1px solid #adadad;
    border-radius: 10px;
    padding: 12px 0;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.form button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

/*-----------------------------footer---------------------------*/

.footer {
    padding: 40px 0;
    text-align: center;
    color: #333;
    font-size: 12px;
    border-top: 1px solid #000;
}

.footer a {
    text-decoration: none;
}