* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.page {
    margin: 20px auto;
    padding: 20px 10px 50px;
    display: flex;
    justify-content: center;
    width: 1100px;
}

.info-section {
    width: 450px;
    margin: 0 100px 0 100px;
}

h1 {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 8px;
    border-bottom: 2px solid #6767c2;
    font-weight: normal;
}

.profiles-container {
    border-radius: 3px;
    padding: 10px 15px 15px 15px;
    box-shadow: 1px 0 2px rgba(0,0,0,0.2), -1px 0 2px rgba(0,0,0,0.2);
    list-style-type: none;
}

.profile {
    display: block;
    padding: 10px 20px;
    border-left: 6px solid #1ba853;
    margin-bottom: 15px;
    background: #fbffbf;
    cursor: pointer;
    background: linear-gradient(to right, #f3f3f3 0%, #fff 47%, #fff 100%);
    background: #f3f3f3;
    transition: all 0.7s ease-in-out;
    color: #000099;
    font-size: 15px;
    line-height: 30px;

    &:hover,
    &.active {
        border-left: 50px solid #1ba853;
        outline: 1px solid #1ba853;
    }

    span {
        color: #000;
    }
}

.nowhores {
    display: none;
}

.form-widget {
    width: 500px;
}

.btn {
    display: inline-block;
    background: #1ba853;
    color: #fff;
    text-align: center;
    width: 175px;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.05s ease-out;
    margin-bottom: 5px;
    outline: none;

    &:hover {
        background: #3a942c;
    }
}

.add_whore {
    margin-top: 35px;
}

.add-profile-form {
    display: none;
}

.form {
    margin-top: 35px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 1px 0 2px rgba(0,0,0,0.2), -1px 0 2px rgba(0,0,0,0.2);

    fieldset {
        border: none;
    }
    legend {
        text-align: center;
        display: inline-block;
        margin: 5px 0;
        padding: 8px;
        border-bottom: 2px solid #6767c2;
    }

    .form_field {
        width: 420px;
        margin: 15px auto;

        p {
            font-size: 11px;
            margin-top: 6px;
        }
    }

    label {
        display: block;
        margin-bottom: 5px;

        b {
            font-size: 10px;
        }
    }

    input {
        text-align: left;
        width: 100%;
        height: 35px;
        padding: 0 5px;
        border: 1px solid grey;

        &.invalid {
            border: 1px solid red;
        }
    }
}

.edit-profile-form {
    display: none;
}

.form_delete {
    float: right;
}

.form_delete {
    background: dimgrey;

    &:hover {
        background: #1a1b1f;
    }
}
