//---------------------------------GLOBAL STYLES
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.page {
    background: #524f4f;
    position: relative;
    min-height: 100%;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    color: #f3f3f3;
    padding-bottom: 70px;
    line-height: 21px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    color: #efcfa2;
    padding-bottom: 5px;
}

a:link,
a:visited {
    color: #e6cfa5;

    &:hover,
    &:active {
        text-decoration: none;
    }
}

//---------------------------------NAVIGATION

.nav {
    width: 784px;
    margin: 0 auto;
    padding-top: 70px;

    .nav__item {
        height: 164px;
        display: inline-block;

        img {
            position: relative;
            top: 85px;
            left: 12px;
        }
    }

    .nav__item--home {
        width: 158px;
        background: url("../images/nav-home-bg.png");
        margin-right: 45px;
    }

    .nav__item--portfolio {
        width: 176px;
        background: url("../images/nav-portfolio-bg.png");
        margin-right: 32px;
    }

    .nav__item--contacts {
        width: 174px;
        background: url("../images/nav-contacts-bg.png");
        margin-right: 40px;
    }

    .nav__item--pricing {
        width: 157px;
        background: url("../images/nav-pricing-bg.png");
        position: relative;
        top: 5px;
    }
}

//---------------------------------MAIN SECTION

.main {
    width: 784px;
    margin: 20px auto 0;
    overflow: hidden;
    padding-bottom: 130px;
}

.main__content {
    float: left;

    > div,
    > form {
        background: #5f5c5c;
        border-top: 6px solid #7e7e7e;
    }

    .about {
        width: 470px;
        padding: 14px 20px 10px 10px;
        margin-bottom: 17px;
    }

    .featured {
        width: 422px;
        overflow: hidden;
        padding: 14px 13px 10px 14px;

        .featured__img {
            float: left;
            width: 206px;
            height: 136px;
            background: #ede1d2;
            padding: 5px;
            margin-top: 9px;
            margin-right: 25px;
        }
    }
}

//---------------------------------RIGHT COLUMN

.aside {
    float: right;
    margin-left: 12px;
    width: 282px;

    .aside__testimonials__heading {
        color: #85bddd;
    }

    .aside__testimonials {
        font-size: 12px;
        border-top: 6px solid #7e7e7e;
        padding: 15px 30px 0 13px;

        p {
            padding-right: 30px;
        }

        span {
            display: block;
            color: #85bddd;
            text-align: right;
            font-weight: bold;
            padding: 14px 0;
        }
    }

    .aside__projects {
        background: #5f5c5c;
        padding: 12px 60px 32px 12px;
        border-top: 6px solid #7e7e7e;

        a img {
            display: inline-block;
            width: 206px;
            height: 136px;
            background: #ede1d2;
            padding: 5px;
            margin-top: 9px;

            &:nth-child(2) {
                margin-bottom: 13px;
            }
        }
    }
}

//---------------------------------FOOTER

.footer {
    padding: 9px 0 25px;
    background: #585555;
    border-top: 1px solid #4d4a4a;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 70px;

    .footer__content {
        width: 270px;
        margin: 0 auto;
    }

    a {
        margin-right: 15px;
        font-size: 12px;

        &:last-child {
            margin: 0;
        }
    }
}

//---------------------------------PORTFOLIO

.portfolio {
    width: 470px;
    padding: 13px;

    p {
        margin-bottom: 10px;
    }

    .portfolio__example {
        overflow: hidden;
        margin-bottom: 9px;

        img {
            margin-right: 15px;
            width: 206px;
            height: 136px;
            background: #ede1d2;
            padding: 5px;
            float: left;
        }
    }
}

//---------------------------------CONTACTS

.contact {
    width: 470px;
    padding: 14px 20px 10px 10px;

    input,
    textarea {
        width: 200px;
        border: 2px solid #7e7e7e;
        display: block;
        height: 28px;
        margin-bottom: 9px;
        padding: 7px 0 6px 8px;
        outline: none;
    }

    textarea {
        width: 450px;
        height: 214px;
    }

    button {
        width: 196px;
        border: 2px solid #fff;
        background: #7e7e7e;
        text-align: center;
        padding: 5px 0;
        outline: none;

        &:hover {
            cursor: pointer;
        }
    }
}

//---------------------------------PRICING

.pricing {
    padding: 9px 7px 21px 8px;
    width: 484px;

    .pricing__product {
        background: url("../images/pricing_bg.gif") no-repeat;
        padding: 19px 26px 8px 22px;
        color: #6ca83e;
        width: 469px;
        overflow: hidden;

        &:nth-child(1) {
            margin-bottom: 14px;
        }

    }
}

.pricing__product--info {
    float: left;

    h3 {
        color: #508a55;
        font-size: 24px;
        margin-bottom: 9px;
        font-weight: normal;
    }

    p {
        color: #508b55;
        font-size: 20px;
        margin-bottom: 9px;
    }

    ul {
        list-style-image: url('../images/list-style-pricing.png');
        padding-left: 35px;
    }

    li {
        margin-bottom: 9px;
        font-size: 16px;
    }
}

.pricing__product--purchase {
    float: right;
    text-align: center;

    p {
        font-size: 18px;
        padding: 0 60px;
        margin-bottom: 7px;
    }

    h4 {
        color: #5b962d;
        font-size: 28px;
        margin-bottom: 12px;
        font-weight: normal;
    }

    button {
        width: 164px;
        height: 43px;
        background: url("../images/purchase_btn.png");
        border: none;
        outline: none;

        &:hover {
            cursor: pointer;
        }
    }
}
//---------------------------------FAQ

.faq {
    padding-bottom: 28px;
    width: 470px;

    ul {
        padding-left: 25px;
        padding-right: 19px;
        padding-top: 14px;
        list-style-image: url("../images/list-style-faq.gif");
    }

    a {
        color: #989797;
        padding-left: 7px;

        &:hover {
            text-decoration: none;
        }
    }
}

//---------------------------------HOME

.aside__projects--home {
    width: 332px;
    padding-right: 110px;
    position: relative;
    left: -50px;
}
.projects--home__heading {
    position: relative;
    left: -50px;
}