* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 10px 100px;
    font-family: "Times New Roman", sans-serif;
}

h2 {
    margin-bottom: 20px;
}

table {
    margin-bottom: 60px;
}

/*----------------------------------Table 1----*/

.table1 {
    border: 2px outset #cecece;
    border-spacing: 3px;
    font-size: 14px;
}

.table1__head,
.table1__data {
    border: 2px inset #cecece;
    width: 155px;
    text-align: center;
    padding: 12px 0 13px 0;
    vertical-align: middle;
}

.table1__head:first-of-type,
.table1__data:first-of-type {
    width: 315px;
    text-align: left;
    padding: 17px 0 13px 10px;
}

.table1__row .table1__data--first-link {
    width: auto;
    text-align: center;
}

.table1__row:nth-of-type(5),
.table1__row:nth-of-type(6) {
    font-weight: bold;
}

/*----------------------------------Table 2----*/

.table2 {
    width: 490px;
    table-layout: auto;
    border: 1px outset #ffffff;
    font-size: 14px;
}

.table2__head,
.table2__data {
    border: 1px inset #ffffff;
    text-align: center;
    padding: 10px 8px 10px 0;
}

.table2__data__list {
    list-style-position: inside;
    text-align: right;
    padding-right: 4px;
    padding-left: 20px;
}

.table2__data:nth-of-type(2) {
    width: 290px;
}

.table2__row--bold {
    font-weight: bold;
}

.table2__row--high .table2__data {
    text-align: left;
    vertical-align: top;
    padding-left: 5px;
    padding-bottom: 25px;
}

/*----------------------------------Table 3----*/

.table3 {
    border-spacing: 2px;
    border: 1px outset #808080;
    font-size: 12px;
}

.table3__head,
.table3__data {
    width: 82px;
    padding: 8px 0 8px 4px;
    border: 1px inset #808080;
}

.table3__head:first-child,
.table3__data:first-child {
    width: 145px;
}

.table3 [colspan="2"] {
    text-align: center;
}

/*----------------------------------Table 4----*/

.table4 {
    border: 10px solid #d4d4d4;
    border-spacing: 3px;
    font-size: 11px;
}

.table4__data {
    border: 1px solid #d4d4d4;
    width: 90px;
    vertical-align: middle;
    padding: 13px 10px 13px 8px;
}

.table4 [rowspan="3"] {
    width: 122px;
}

.table4 [rowspan="2"] {
    width: 105px;
}

/*----------------------------------Table 5----*/

.table5 {
    width: 540px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.table5__head,
.table5__data {
    border-collapse: collapse;
    width: 180px;
    text-align: left;
    padding: 13px 10px 15px;
}

.table5__head:last-of-type,
.table5__data:last-of-type {
    text-align: right;
}

.table5__head {
    background: #706d98;
    color: #ffffff;
}

.table5__data {
    color: #696969;
    font-size: 13px;
}

.table5__row:nth-of-type(odd) {
    background: #efefef;
}

.table5__row:hover {
    background: #cccccc;
}

/*----------------------------------Table 6----*/

.table6 {
    border-collapse: collapse;
    background: #edf6fb;
    border: 1px solid #8ce3cc;
    font-family: Arial, sans-serif;
    font-size: 13px;
    width: 660px;
}

.table6__data {
    border: 1px solid #8ce3cc;
    padding: 7px 10px 5px 7px;
}

.table6__head {
    border: 1px solid #8ce3cc;
    text-align: center;
    padding: 12px 7px 10px;
}

.table6 [rowspan="3"],
.table6__head--cuisine {
    width: 115px;
    text-align: left;
}