* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 20px;
}

.list-container {
    width: 350px;
    float: left;
    margin-right: 100px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    background: #1ba853;
    color: #fff;
    text-align: center;
    width: 175px;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.05s ease-out;
    margin-bottom: 5px;
    outline: none;
    margin-left: 35px;
}

.btn:hover {
     background: #3a942c;
 }

.vip {
    display: inline-block;
    margin-left: 25px;
    width: 50px;
    height: 35px;
    background: #1ba853;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    position: relative;
    top: -8px;
    cursor: pointer;
}

.vip input {
    display: none;
}

.vip label {
    width: 100%;
    height: 100%;
    display: block;
}

.list {
    border-radius: 3px;
    padding: 10px 15px 10px 15px;
    box-shadow: 1px 0 2px rgba(0,0,0,0.2), -1px 0 2px rgba(0,0,0,0.2);
    list-style-type: none;
}

.list__item {
    display: block;
    padding: 5px 10px;
    border-left: 6px solid #1ba853;
    margin-top: 10px;
    background: #fbffbf;
    cursor: pointer;
    background: linear-gradient(to right, #f3f3f3 0%, #fff 47%, #fff 100%);
    background: #f3f3f3;
    transition: all 0.7s ease-in-out;
    color: #000099;
    font-size: 15px;
    line-height: 30px;
}

.list__item:hover {
     outline: 1px solid #1ba853;
}

.form {
    width: 500px;
    float: left;
    border: 1px solid darkgrey;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2), -1px 0 2px rgba(0, 0, 0, 0.2);
}

.form legend {
    text-align: center;
    display: inline-block;
    margin: 5px 0;
    padding: 8px;
    border-bottom: 2px solid #6767c2;
}

.form .form__field {
    width: 420px;
    margin: 15px auto;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input {
    text-align: left;
    width: 100%;
    height: 35px;
    padding: 0 5px;
    border: 1px solid grey;
}
