* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #e7e5c8;
    font: 11px Tahoma, Arial, sans-serif;
    color: #6a684d;
}

.header {
    margin: 0 180px 0 150px;
    border-bottom: 1px solid #c0bd9a;
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
}

.header__logo {
    margin-top: 30px;
    margin-left: 30px;
}

.header__phone {
    background: url("../images/phone.png") no-repeat;
    background-size: cover;
    width: 280px;
    height: 90px;
    padding: 26px 65px 16px 110px;
    font-weight: bolder;
    color: #f1f0e0;
    text-indent: -10px;
}

.main {
    margin: 0 180px 0 150px;
    padding: 25px 0 45px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f1f0e0;
    border-bottom: 1px solid #c0bd9a;
}
.main__graphic,
.main__about {
    width: calc(50% - 70px);
}

.main__graphic__img {
    width: 100%;
    height: auto;
}
.main__about__heading {
    margin-bottom: 22px;
    font: 16px "Times New Roman", Times, serif;
    font-weight: bold;
    color: #6e6b3d;
    text-align: center;
}

.main__about__heading:first-letter,
.main__about__heading--firstletter {
    color: #90aa1f;
}

.main__about__content {
    margin-bottom: 12px;
}
.main__about__content__link {
    color: #869a28;
}
.main__about__content__link:hover {
    text-decoration: none;
}

.details {
    display: flex;
    border-top: 1px solid #f1f0e0;
    margin: 0 180px 0 150px;
    background-color: #dedbbb;
    padding: 10px 5px 10px 0;
    color: #6a6847;
    border-radius: 3px;
}
.subheading {
    margin-bottom: 17px;
    font: 16px "Times New Roman", Times, serif;
    font-weight: bold;
}
.subheading:first-letter {
    color: #90aa1f;
}

.details__gallery,
.details__offer,
.details__services {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    padding: 5px 28px 25px 20px;
    border-right: 1px solid #c0bd9a;
    border-left: 1px solid #f1f0e0;
}
.details__gallery {
    border-left: none;
}
.details__gallery__container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 15px;
}
.details__gallery__container__item {
    width:calc(50% - 10px);
    margin-bottom: 10px;
    border: 3px solid #b5af91;
    border-right: 15px solid #b5af91;
    border-radius: 5px;
}
.details__gallery__container__img {
    width: 100%;
    height: 100%;
}
.details__offer__img {
    border: 3px solid #b5af91;
    border-radius: 5px;
    margin-bottom: 17px;
}
.details__offer__content--bold {
    font-weight: bold;
}
.details__offer__content--firstword {
    color: #90aa1f;
}

.details__services {
    border-right: none;
    background: url("../images/elephant.jpg") no-repeat bottom right;
}

.details__services__list {
    margin-left: 14px;
    margin-bottom: 25px;
    list-style-image: url("../images/dot.gif")
}
.details__services__list__item {
    color: inherit;
}
.details__services__list__item:hover {
    text-decoration: none;
}
.footer {
    justify-content: flex-end;
    display: flex;
    margin: 0 180px 0 150px;
    padding: 18px 5px 100px 15px;
    background-image: url("../images/welcome.jpg");
    background-repeat: no-repeat;
    background-position: 15px 20px;
}
.footer__map {
    background: url("../images/map.jpg") no-repeat left bottom;
    padding-left: 65px;
    width: 260px;
}
.footer__subheading {
    padding-top: 20px;
}
