@font-face {
    font-family: Daxline;
    src: url("../fonts/Daxline-Regular.ttf");
}

$border-color: #e6e4ca;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 11px;
    position: relative;
}

.page {
    background: url("../images/page-border-bg.png") no-repeat;
    width: 1245px;
    margin: 0 auto;
}

.top-nav {
    padding: 20px 0 15px;
    margin-left: 360px;
    
    .top-nav__item{
        opacity: 0.7;
        color: #ffffff;
        margin-right: 10px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.main-nav {
    background: url('../images/green-stripe-bg.png') no-repeat;
    width: 1000px;
    padding: 15px 0 0 80px;
    margin: 0 auto;
    position: relative;
    left: -14px;
    top: -5px;
    z-index: 2;

    .logo {
        width: 155px;
        height: 123px;
        display: inline-block;
        background: url("../images/logo-img.png");
        position: relative;
        top: -57px;
        text-indent: -1000px;
    }

    .main-nav__item {
        opacity: 0.9;
        color: #ffffff;
        font-family: Arial, serif;
        font-size: 10px;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        padding: 5px 11px 3px 12px;
        border-right: 1px dashed #76b783;

        &:last-of-type {
            border-right: none;
            position: relative;
            top: -5px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.content {
    width: 951px;
    overflow: hidden;
    margin: -105px 0 0 124px;
    position: relative;
    background: url("../images/main-bg.png") no-repeat;
    padding: 55px 12px 0 22px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 12px;
        width: 1px;
        height: 100%;
        border-left: 1px dashed #66a094;
    }
}

.main-info-column {
    float: left;
    width: 430px;
    margin: 435px 20px 0 0;
}

.main-info-column__widget {
    border-radius: 15px;
    border: 1px solid $border-color;
    background: linear-gradient(to bottom, #ffffff 0%,#f9f9ec 100%);
    margin-bottom: 25px;
    overflow: hidden;

    h3 {
        border-top: 1px solid $border-color;
        border-radius: 13px;
        color: #006aad;
        font-size: 26px;
        line-height: 20px;
        padding: 25px 0 33px 30px;
    }
}

.house {
    padding-bottom: 22px;
    font-family: Daxline, serif;
    font-size: 12px;
    border-top: 3px solid #cfc9b7;

    h3 span {
        color: #67a024;
    }

    .house__img {
        float: left;
        margin: 0 16px 18px 0;
    }

    ul {
        float: right;
        width: 190px;
        margin-right: 14px;
        color: #676119;
        font-family: Arial, serif;
        list-style-type: none;

        li {
            padding: 7px;
            border-bottom: 1px dashed $border-color;

            &:first-of-type {
                border-top: 1px dashed $border-color;
            }

            &::before {
                content: '';
                background: #eae6d1;
                display: inline-block;
                margin-right: 6px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
            }
        }
    }

    .house__view {
        clear: left;
        display: block;
        color: #569d00;
        font-weight: bold;
        text-decoration: none;
        padding: 9px 0 9px 20px;
        width: 160px;
        margin-left: 26px;
        text-align: left;
        background: url("../images/house-list-arrow.png") no-repeat 0 11px;

        &:first-of-type {
            border-bottom: 1px dashed $border-color;
        }
    }
}

.booking {
    color: #404040;
    border-top: 3px solid #cfc9b7;
    line-height: 18px;
    position: relative;

    h3 {
        padding: 20px 0 27px 58px;
        background: url("../images/booking-key.png") no-repeat 12px 5px;
        position: relative;
        z-index: 2;
        font-family: Daxline, serif;
    }

    form {
        margin: -15px 11px 18px 18px;

        fieldset {
            border: 1px solid #e7e5cd;
            border-radius: 15px;
            padding: 23px 17px 15px 11px;
            background: #ffffff;
            margin-bottom: 12px;
        }

        .booking__info {
            display: flex;
            justify-content: space-between;

            &:first-of-type {
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px dashed $border-color;
            }
        }

        .booking__field {
            display: inline-block;
        }

        select {
            height: 18px;
        }

        label {
            display: block;
            margin-bottom: 7px;
        }

        .label-day {
            display: inline-block;
            background: url("../images/booking-calendar.png");
            width: 13px;
            height: 13px;
            margin-left: 7px;
            margin-bottom: -1px;
        }
    }

    button {
        display: inline-block;
        border: none;
        color: #ffffff;
        font-family: Daxline, serif;
        font-size: 10px;
        font-weight: 700;
        line-height: 18px;
        height: 23px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 3px;
        cursor: pointer;
    }

    .check-rooms {
        background: url("../images/check-rooms-btn.png");
        width: 177px;
        margin-left: 87px;
    }

    .book {
        background: url("../images/book-btn.png");
        width: 108px;
        margin-left: 18px;
    }
}

.weather,
.currency {
    width: 208px;
    display: inline-block;
    padding: 11px 9px 9px 13px;
    float: left;
    color: #333333;
    position: relative;
    overflow: visible;

    &::before {
        position: absolute;
        content: "";
        bottom: 17px;
        left: 8px;
        top: 80%;
        width: 35%;
        background: #f9f9ec;
        transform: rotate(-4deg);
        box-shadow: 0 18px 15px #CEC8BD;
        z-index: -1;
    }

    h4 {
        color: #4e9001;
        font-family: Daxline, serif;
        font-size: 16px;
        font-weight: bold;
        float: left;
    }

    table {
        margin-top: 10px;
        border-collapse: collapse;
        width: 100%;
    }

    tr {
        border-top: 1px dashed $border-color;

        &:first-of-type {
            border-top: none;
        }

        &:hover {
            background: #eaf6e0;
        }
    }

    td {
        padding: 4px 0 4px;
    }

    .weather__date {
        color: #756c05;
    }
}

.currency {
    margin-left: 10px;

    .currency__date {
        float: right;
        padding: 4px 9px 0 0 ;
    }

    table {
        margin-top: 5px;
    }

    th {
        font-weight: normal;
        background: #eaf6e0;
        color: #756c05;
        padding: 4px 0 3px;
    }

    td {
        padding: 6px 0;
        text-align: center;
    }

    .currency__usd {
        padding-left: 10px;
        background: url("../images/currency-symbols.png") no-repeat 0 2px;
    }

    .currency__eur {
        padding-left: 10px;
        background: url("../images/currency-symbols.png") no-repeat 0 -24px;
    }
}

.additional-info-column {
    width: 465px;
    float: right;
}

.about {
    
    h2 {
        font-family: Daxline, serif;
        font-size: 28px;
        line-height: 30px;
        font-weight: normal;

        &:last-of-type {
            margin: 3px 0 23px 122px;
        }

        span {
            font-size: 40px;
        }
    }

    p {
        color: #002e68;
        font-size: 12px;
        font-family: Arial, sans-serif;
        margin: 0 44px 32px 22px;
    }
}

.contacts {
    width: 356px;
    border: 1px solid rgba(185, 209, 223, 0.3);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 7px 15px;
    box-shadow: 0 1px 1px #dad5c8;
    margin-bottom: 40px;

    a {
        color: #1079b3;
        font-family: Arial, sans-serif;
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
    }

    a::before {
        box-sizing: border-box;
        content: url("../images/phone-icon.png");
        background: #7dae42;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: inline-block;
        margin-right: 5px;
        text-align: center;
        padding-top: 5px;
        margin-top: -2px;
    }

    a:last-of-type::before {
        content: url("../images/mail-icon.png");
        margin-left: 15px;
        padding-top: 5px;
    }
}


.activity {
    padding: 18px 25px 24px 22px;
    float: left;
    border-radius: 15px;
    margin-bottom: 30px;

    h4 {
        font-size: 25px;
        font-family: Daxline, serif;
        padding-bottom: 5px;
        margin-bottom: 8px;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
        line-height: 23px;

        span {
            font-size: 17px;
            font-weight: normal;

        }
    }
    
    p {
        font-family: Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        text-align: left;
        padding-right: 10px;
    }
}

.activity--hunting {
    background: url("../images/hunting-bg.png") no-repeat;
    width: 234px;
    padding: 18px 27px 65px 22px;
}

.activity--fishing {
    background: url("../images/fishing-bg.png") no-repeat;
    width: 228px;
}

.advice {
    clear: both;
    padding: 16px 20px 16px 0;

    img {
        float: left;
        margin-right: 26px;
    }
    
    h4 {
        color: #4e9001;
        margin-left: 120px;
        margin-bottom: 14px;
        font-family: Daxline, sans-serif;
        font-size: 20px;
        line-height: 20px;
        padding-left: 40px;
        padding-top: 8px;
        background: url("../images/advice-decoration-img.png") no-repeat 12px 0;
    }

    p {
        padding-left: 27px;
        opacity: 0.8;
        color: #000;
        font-family: Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
    }
}

.advice--hunting {
    border-top: 1px dashed $border-color;

    img {
        position: relative;
        left: -8px;
        margin-right: 14px;
    }
}

.news {
    margin-top: 20px;
    padding-left: 25px;

    h4 {
        color: #4e9001;
        font-family: Daxline, serif;
        font-size: 22px;
        line-height: 20px;
        padding-bottom: 8px;
        background: url("../images/news-decoration-border.png") no-repeat right center;
        margin-bottom: 9px;
    }

    .news__item {
        padding: 9px 20px 20px 9px;
        border-bottom: 1px dashed $border-color;
    }

    .news__item__date {
        color: #fff;
        text-decoration: none;
        margin-right: 18px;
        background: #4396c6;
        float: left;
        padding: 3px 5px;
        border-radius: 3px;

        &:hover {
            text-decoration: underline;
        }
    }

    p {
        margin-left: 100px;
        font-family: Arial, sans-serif;
        font-size: 13px;
        line-height: 16px;
        color: #333333;
    }
}

.footer {
    padding: 60px 208px 35px 34px;
    background: url("../images/footer-bg.png") no-repeat;
    width: 951px;
    overflow: hidden;
    margin-left: 124px;

    .footer__contacts {
        float: left;

        a {
            color: #fff;
            text-decoration: none;
            display: block;
            font-family: Tahoma, Arial, sans-serif;
            font-size: 14px;
            opacity: 0.9;
            margin-bottom: 5px;

            &::before {
                box-sizing: border-box;
                content: url("../images/phone-icon.png");
                background: #7dae42;
                border-radius: 50%;
                width: 26px;
                max-height: 26px;
                display: inline-block;
                margin-right: 5px;
                text-align: center;
                padding: 5px 0;
            }

            &:last-of-type::before {
                content: url("../images/mail-icon.png");
            }
        }
    }

    p {
        float: right;
        color: #f1efd7;
        text-align: right;
        opacity: 0.67;
        line-height: 12px;
    }
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.7);

    img {
        position: fixed;
        left: 50%;
        top: 50%;
        width: 500px;
        height: 500px;
        margin: auto;
        transform: translateX(-50%) translateY(-50%);
    }

    .close {
        position: fixed;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: black;
        color: white;
        border-radius: 50%;
        right: 20px;
        top: 15px;
        cursor: pointer;
        font-family: Tahoma, sans-serif;
        border: none;

        &:hover {
            color: red;
        }
    }
}