* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background: url(../images/1.gif);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #ffffff;
}

.page {
    min-height: 100%;
    position: relative;
    padding-bottom: 55px;
    width: 100%;
}

.header {
    background: #000000;
    overflow: hidden;
    border-bottom: 1px solid #6a4101;
    padding: 0;
}

.header__logo {
    float: left;
    height: 30px;
}

.header__locations {
    float: right;
    padding: 5px 20px 5px 0;
}

.header__locations__label {
    margin-right: 20px;
}

.content {
    width: 720px;
    margin: 0 auto;
}

.content__nav {
    float: right;
    padding: 8px 0;
}

.content__nav__link:link,
.content__nav__link:visited {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.content__nav__link--cart:before {
    content: url("../images/4.gif");
    padding-right: 5px;
    width: 20px;
    height: 17px;
    position: relative;
    top: 3px;
}

.content__nav__link--circle:before {
    content: "•";
    display: inline-block;
    padding-right: 5px;
}

.content__nav__link:hover,
.content__nav__link:active {
    text-decoration: underline;
}

.banner {
    text-decoration: none;
    width: 100%;
    height: 125px;
    display: inline-block;
}

.main {
    border-left: 1px solid #a36917;
    border-right: 1px solid #a36917;
    background: #000000;
    font-family: Tahoma, Arial, sans-serif;
    padding-bottom: 12px;
    position: relative;
    min-height: 840px;
    margin-top: -2px;
}

.main__nav {
    padding: 12px 0 22px 0;
}

.main__nav__link:link,
.main__nav__link:visited {
    padding: 0 40px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: "Times New Roman", Times, serif;
    border-right: 1px solid #c59e52;
}

.main__nav__link:hover,
.main__nav__link:active,
.main__nav .active {
    color: #c59e52;
}

.main__nav__link:last-of-type {
    border: none;
}

.main__content-container {
    margin: 0 22px 0 16px;
    background: url("../images/2.gif") no-repeat;
}

.main__content {
    float: right;
    width: 338px;
    font-size: 12px;
    line-height: 14px;
    color: #cccccc;
}

.main__content__text {
    margin-bottom: 15px;
}

.clearfix {
    content: '';
    display: block;
    clear: both;
}

.bottom-nav {
    padding: 0 30px 22px 20px;
    position: absolute;
    bottom: 0;
}

.bottom-nav__link:link,
.bottom-nav__link:visited {
    color: #9f8435;
    text-decoration: none;
    padding: 0 4px;
    font-family: "Times New Roman", Times, serif;
    border-right: 1px solid #d08900;
}

.bottom-nav__link:last-of-type {
    border: none;
}

.bottom-nav__link:hover,
.bottom-nav__link:active {
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 25px;
    width: 100%;
    background: #000000;
    border-top: 1px solid #6a4101;
    padding: 10px 20px 10px 30px;
    overflow: hidden;
    height: 30px;
    font-size: 9px;
}

.footer__content {
    float: left;
}

.footer__nav {
    float: right;
}

.footer__nav__link:link,
.footer__nav__link:visited {
    color: #ffffff;
    text-decoration: none;
}

.footer__nav__link:hover,
.footer__nav__link:active {
    text-decoration: underline;
}

.footer__nav__link:before {
    content: "•";
    display: inline-block;
    padding-right: 5px;
}