* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #424242;
    font: 14px Arial, Helvetica, sans-serif;
}

/*Header*/
.header-container {
    background-image: linear-gradient(#ffffff, #f2f2f2);
    padding-left: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}
.header__logo {
    width: 373px;
    height: 120px;
    padding-top: 10px;
    padding-bottom: 20px;
}
/*Navigation*/
.nav {
    list-style-type: none;
}
.nav__item {
    padding: 70px 30px 60px;
    display: inline-block;
    width: 140px;
    position: relative;
    transition: all 0.4s;
}
.nav__item:last-child {
    margin-right: 0;
}
.nav__item--red {
    border-top: 15px solid #ff7800;
}
.nav__item--blue {
    border-top: 15px solid #2e9ba4;
}
.nav__item--black {
    border-top: 15px solid #183133;
}
.nav__item__link {
    color: #313131;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.nav__item__desc {
    display: none;
}

.nav__item:hover {
    border-top: 15px solid #d6d6d6;
    background-image: linear-gradient(#ffffff, #dadada);
}
.nav__item:hover .nav__item__desc {
    display: block;
    position: absolute;
    width: 210px;
    height: 60px;
    padding-top: 30px;
    padding-left: 15px;
    background: url("../images/tip.png");
    top: 123px;
    right: 72px;
    font-size: 13px;
    z-index: 1;
}
/*Main*/
.main-container {
    background-color: #3e3e3e;
    max-height: 140px;
    padding-left: 5px;
    box-shadow: 0 15px 23px 0 rgba(212,212,212,0.75);
}
.main {
    width: 1000px;
    margin: auto;
    display: flex;
    color: #ffffff;
    padding-bottom: 12px;
    line-height: 18px;
}

.main__content__heading {
    font-weight: normal;
    padding: 20px 0 10px 0;
    font-size: 20px;
}
.main__content__desc {
    padding: 10px 115px 10px 20px;
    border-left: 8px solid #646464;
}
.label {
    background: url("../images/shadow.png") no-repeat;
    background-size: cover;
    width: 140px;
    height: 140px;
    position: relative;
    top: 20px;
}
.label__img {
    width: inherit;
    height: inherit;
}
/*Info section in about us*/
.info-container {
    padding-left: 5px;
    padding-bottom: 50px;
}
.info {
    width: 1000px;
    margin: auto;
    padding-top: 20px;
    color: #313131;
}
.info__heading {
    padding-bottom: 10px;
    font-weight: normal;
}
.info__content {
    width: 520px;
    border-left: 8px solid #f0f0f0;
    padding: 10px 140px 10px 20px;
    margin-bottom: 25px;
}
.info__content--gears {
    background: url("../images/p1.jpg") no-repeat bottom right;
}
.info__content--book {
    background: url("../images/p2.jpg") no-repeat bottom right;
}
/*Offers*/
.offers-container {
    padding: 40px 0 50px 5px;
}
.offers {
    display: flex;
    width: 1000px;
    margin: auto;

}
.offers__item {
    border-left: 8px solid #f0f0f0;
    padding: 15px 40px 20px 15px;
    width: 33.33333%;
}
.offers__item:last-child {
    border-right: 8px solid #f0f0f0;
}

.offers__item__heading {
    font-weight: normal;
    color: #616161;
    background: url("../images/dot.jpg") no-repeat top left;
    height: 40px;
    font-size: 17px;
    padding-left: 15px;
    padding-top: 15px;
}
.offers__item__content {
    padding-top: 10px;
    line-height: 20px;
}
.offers__item__list {
    list-style-type: none;
}
.offers__item__list__item::before {
    content: "-";
    color: inherit;
    font-size: inherit;
    padding-right: 5px;
}

/* Contact form */
.contact-container {
    padding-left: 5px;
    padding-bottom: 50px;
}
.contact {
    width: 1000px;
    margin: auto;
    padding-top: 20px;
    font-family: "Times New Roman", sans-serif;
}
.contact__heading {
    font-size: 20px;
    padding-bottom: 10px;
    line-height: 11px;
    font-weight: normal;
    color: #313131;
}
.form {
    display: flex;
    flex-direction: column;
}
.form__item {
    width: 300px;
    margin-bottom: 10px;
    height: 20px;
    padding: 3px;
}
.form__label {
    width: 60px;
    padding-right: 10px;
    text-align: right;
    display: inline-block;
}
.form__item--message {
    width: 355px;
    margin-bottom: 15px;
    height: 105px;
    padding: 3px;
}
.form__label--message {
    vertical-align: top;
}
.form__item--submit {
    width: 100px;
    text-align: center;
    vertical-align: center;
    border: 1px solid #cdcd9a;
    padding: 3px;
}
.form__item--submit:hover {
    cursor: pointer;
}
    /* Footer */
.footer-container {
    background: #313131;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
}
.footer {
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    padding: 15px 5px 25px 5px;
}
.footer__content__link {
    color: #ffffff;
}
.footer__content__link:hover {
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .header, .main,
    .info, .offers,
    .contact, .footer {
        width: 100%;
    }
    .header,
    .main,
    .info,
    .offers,
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__logo {
        margin-bottom: 20px;
    }
    .main-container {
       max-height: none;
    }
    .label {
        display: none;
    }
    .offers__item {
        margin-bottom: 10px;
        width: 100%;
    }
    .offers__item:last-child {
        border-right: none;
    }
}