/* =Global Styles
-------------------------------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

$main-color: #c6a05d;
$secondary-color: #540000;
$caption-color: #340000;

body {
    font-family: "Times New Roman", Times, serif;
    background: url("../images/bg-main.gif");
    color: $main-color;
    font-size: 13px;
}

.page {
    min-height: 100%;
    position: relative;
    padding-bottom: 32px;
}

a:hover {
    text-decoration: none;
}

@mixin btn {
    cursor: pointer;
    outline: none;
    border: none;
    height: 34px;
    color: #c48c13;
}

@mixin btn-link {
    display: inline-block;
    height: 34px;
    text-decoration: none;
    color: #c49b1e;
}

/* =Header
-------------------------------------------------- */

.header {
    background: #1a0000;
    height: 29px;
    border-bottom: 1px solid #6a3f00;
    font-family: "Verdana", Times, serif;
    overflow: hidden;

    .header__logo {
        float: left;
        text-decoration: none;
        height: 30px;

        img {
            float: left;
        }
    }

    .header__logo__text {
        display: inline-block;
        padding-top: 8px;
        color: $main-color;
        font-size: 10px;
    }
}

/* =Header Menu
-------------------------------------------------- */

.menu {
    float: right;
    padding: 6px 17px 8px 0;
    font-size: 11px;

    a {
        color: $main-color;
    }
}

.menu__item {
    display: inline-block;
    padding-right: 18px;
    border-right: 1px solid $main-color;
    margin-left: 15px;
    font-family: "Verdana", Times, serif;

    &.menu__item--bookmark {
        text-decoration: none;

        span {
            color: #fff;
            border-bottom: 1px dashed #fff;
        }
    }

    &:last-child {
        padding-right: 0;
        border-right: none;
    }
}

.menu__item--select {
    padding-right: 5px;

    select {
        background: #1a0000;
        outline: none;
        border: none;
        border-bottom: 1px dashed #fff;
        color: #fff;
        font-family: "Verdana", Times, serif;
        font-size: 12px;
        cursor: pointer;
        -moz-appearance: none;
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
}

/* =Main Content
-------------------------------------------------- */

.main {
    margin: 20px auto 70px;
    width: 740px;
    border: 7px solid #fff;
    background: #fff;
}

/* =Banner block
-------------------------------------------------- */

.banner {
    height: 100px;
    background: #370000;
    padding: 7px 70px 0 200px;
    margin-bottom: 6px;

    a {
        display: inline-block;
        width: 248px;
        height: 77px;
        background: url("../images/banner-bg.gif");
        text-indent: -1000px;
    }

    img {
        float: right;
    }
}

/* =Progress block
-------------------------------------------------- */

.progress-container {
    background: #430100;
    padding: 30px 35px 10px 54px;
}

.progress--one {
    background: url("../images/progress-step-one-border.gif") no-repeat bottom left;
}

.progress--two {
    background: url("../images/progress-step-two-border.gif") no-repeat bottom left;
}

.progress--three {
    background: url("../images/progress-step-three-border.gif") no-repeat bottom left;
}

.progress--four {
    background: url("../images/progress-step-four-border.gif") no-repeat bottom left;
}

.progress__step {
    display: inline-block;
    margin: 0 75px 18px 0;
    color: #fff890;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    padding-top: 30px;
    transition: all 0.2s;

    &:last-child {
        margin-right: 46px;
    }

    &:first-child {
        margin-left: 55px;
    }
}

.progress__step--one {
    background: url("../images/step-one.gif") no-repeat top center;
}

.progress__step--one--selected,
.progress__step--one:hover {
    background: url("../images/step-one-selected.gif") no-repeat top center;
}

.progress__step--two {
    background: url("../images/step-two.gif") no-repeat top center;
}

.progress__step--two--selected,
.progress__step--two:hover {
    background: url("../images/step-two-selected.gif") no-repeat top center;
}

.progress__step--three {
    background: url("../images/step-three.gif") no-repeat top center;
}

.progress__step--three--selected,
.progress__step--three:hover {
    background: url("../images/step-three-selected.gif") no-repeat top center;
}

.progress__step--four {
    background: url("../images/step-four.gif") no-repeat top center;
}

.progress__step--four--selected,
.progress__step--four:hover {
    background: url("../images/step-four-selected.gif") no-repeat top center;
}

/* =Details page
-------------------------------------------------- */

.details {
    margin: 32px auto 40px;
    width: 376px;
}

.sign-in {
    margin-bottom: 26px;
    color: #c48c13;

    p {
        text-transform: uppercase;
        margin-right: 15px;
        display: inline-block;
        font-weight: bold;
    }

    a {
        @include btn-link;
        font-weight: bold;
        background: url("../images/sign-in-btn.gif");
        width: 123px;
        padding: 8px 15px 10px 48px;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

/* =Details form
-------------------------------------------------- */

.details-form {

    fieldset {
        border: none;
    }

    legend {
        color: $caption-color;
        font-weight: bold;
        font-size: 17px;
        text-align: center;
        margin-bottom: 12px;
    }

    .field{
        margin-bottom: 11px;
    }

    label {
        display: inline-block;
        text-align: right;
        color: #693e3e;
        font-weight: bold;
        font-size: 14px;
        vertical-align: top;
        width: 102px;
        margin-right: 15px;
        padding-right: 23px;
    }

    .required {
        padding-right: 0;

        &::after {
            content: "*";
            color: #a33434;
            padding-left: 14px;
        }
    }

    input {
        width: 255px;
        height: 22px;
    }

    select {
        color: #693e3e;
        height: 22px;
    }
}

.checkout-payment {
    @include btn;
    margin: 16px 0 0 12px;
    width: 323px;
    font-size: 14px;
    font-family: "Times New Roman", sans-serif;
    background: url("../images/checkout-payment-btn.gif");
    padding: 6px 18px 8px 60px;
}

/* =Payment types page
-------------------------------------------------- */

.payment-type__form-container{
    padding: 57px 180px 20px 44px;
}

.payment-type__form {

    fieldset {
        border: none;
    }

    legend {
        color: $caption-color;
        float: left;
        font-weight: bold;
        margin-right: 50px;
        font-size: 15px;
    }

    .field {
        padding: 5px 30px 14px 3px;
        border-bottom: 1px solid #dedede;
        margin-bottom: 5px;
        margin-left: 223px;
    }

    .label__img {
        display: inline-block;
        width: 40px;
    }

    .label__desc {
        color: #000;
        margin-left: 18px;
        font-weight: bold;
        font-size: 12px;
        font-family: "Verdana", Times, serif;
    }

    input {
        margin-left: 18px;
    }

    button {
        @include btn;
        margin: 16px 0 0 200px;
        width: 323px;
        font-size: 14px;
        font-family: "Times New Roman", sans-serif;
        background: url("../images/checkout-payment-btn.gif");
        padding: 6px 18px 8px 60px;
    }
}

/* =Items block
-------------------------------------------------- */

.items {
    width: 420px;
    margin: 0 auto 17px;
}

.items-table {
    border: 1px solid #b29b68;
    border-spacing: 0;
    font-size: 11px;
    font-family: "Verdana", Times, serif;

    caption {
        text-align: center;
        color: $caption-color;
        text-transform: uppercase;
        margin-bottom: 11px;
        font: bold 11px "Times New Roman", Times, serif;

        &::first-letter {
            font-size: 17px;
        }
    }

    th {
        background: #530000;
        padding: 3px 0;
        font-size: 12px;
        color: #fff2e2;
    }

    td {
        padding-top: 15px;
    }


     [rowspan="4"] {
        padding: 0 16px;
    }

    .items-table__top {
        text-align: center;
        vertical-align: top;
        color: #00011e;
        font-weight: bold;
        width: 88px;
    }

    [colspan="4"] {
        padding-right: 10px;
        text-align: right;
        padding-top: 0;
        position: relative;
        top: -15px;

        a {
            text-decoration: none;
        }

        span {
            color: $main-color;
            text-transform: uppercase;
            font-family: "Times New Roman", Times, serif;
            display: inline-block;

            &:first-letter {
                font-size: 16px;
            }
        }

        img {
            position: relative;
            top: 4px;
        }
    }

    .items-table__description {
        width: 156px;
        padding-right: 54px;
    }

    p {
        margin-bottom: 5px;
    }
}

/* =Payment page
-------------------------------------------------- */

.payment {
    overflow: hidden;
    padding: 18px 27px 10px 28px;
}

.shipping {
    float: left;
    color: $secondary-color;
    font-size: 14px;

    a {
        @include btn-link;
        width: 186px;
        background: url("../images/change-data-btn.gif");
        margin-top: 16px;
        padding: 8px 14px 12px 40px;
    }
}

.payment__items {
    float: right;
    width: 415px;
}

/* =Card info
-------------------------------------------------- */


.card-info {
    padding-bottom: 50px;
    color: $secondary-color;

    fieldset {
        border: none;
    }

    legend {
        margin-left: 285px;
    }

    .field {
        width: 470px;
        margin: 0 auto 5px;
    }

    label {
        font-weight: bold;
        margin-right: 20px;
        text-align: right;
        display: inline-block;
        width: 190px;
    }

    .label--year {
        display: none;
    }

    select {
        color: $secondary-color;
    }

    a {
        color: #693e3e;
    }

    p {
        text-align: center;
        padding: 25px 25px 30px;
    }

    button {
        @include btn;
        width: 324px;
        background: url("../images/place-order-btn.gif");
        margin: 0 auto;
        display: block;
        font-family: "Times New Roman", Times, serif;
        padding: 8px 0 12px;
    }

    [name="name"],
    [name="card-number"] {
        width: 256px;
    }
}

/* =Finished page
-------------------------------------------------- */

.finished {
    width: 405px;
    padding: 15px 0 20px;
    margin: 0 auto;
    color: $caption-color;
    text-align: center;
    font-size: 14px;

    h1 {
        font-size: 15px;
        margin-bottom: 22px;
    }

    b {
        font-size: 16px;
        margin-bottom: 14px;
        display: inline-block;
    }

    p {
        margin-bottom: 18px;
    }

    a {
        color: $caption-color;
    }

    .btn--shopping {
        @include btn-link;
        background: url("../images/continue-shopping-btn.gif");
        width: 203px;
        margin-right: 10px;
        padding: 6px 12px 10px 42px;
    }

    .btn--invoice {
        @include btn-link;
        width: 186px;
        background: url("../images/print-invoice-btn.gif");
        padding: 6px 12px 10px 42px;
    }
}

/* =Guarantees block
-------------------------------------------------- */

.guarantees {
    background: #e8e9b2;
    padding: 5px 15px 5px 23px;
    position: relative;

    img {
        margin-right: 15px;

        &:first-child {
            margin-right: 25px;
        }
    }

    .guarantees__money-back {
        position: absolute;
        display: block;
        width: 99px;
        height: 101px;
        bottom: 0;
        right: 15px;
    }
}

/* =Footer
-------------------------------------------------- */

.footer {
    height: 32px;
    position: absolute;
    bottom: 32px;
    background: #1a0000;
    border-top: 1px solid #6a3f00;
    width: 100%;
    padding: 10px 20px 12px 45px;
    font-size: 11px;
    font-family: Tahoma, sans-serif;
    overflow: hidden;
    min-width: 810px;

    p {
        float: left;
    }
}

.footer__nav {
    float: right;

    a {
        color: $main-color;
        padding-left: 10px;
        padding-right: 10px;
        border-right: 1px solid #975802;

        &:last-child {
            padding-right: 0;
            border-right: none;
        }
    }
}

/* =Wishlist
-------------------------------------------------- */

.wishlist {
    height: 32px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #290000;
    border-top: 1px solid #c79c39;
    width: 100%;
    padding: 5px 10px 6px 5px;
    font-family: 'Arial', Times, serif;
    overflow: hidden;
    min-width: 810px;

    .wishlist__login {
        float: left;
    }

    .wishlist__heading {
        text-decoration: none;
        color: $main-color;
        margin-right: 70px;
        display: inline-block;
        font-family: "Times New Roman", sans-serif;
        font-size: 16px;
        font-weight: bold;
    }
}

.login {
    display: inline-block;
    font-size: 11px;

    input {
        width: 164px;
        height: 15px;
        font-size: 12px;
        margin-right: 18px;
    }

    .wishlist__login__btn {
        background: none;
        border: none;
        outline: none;
        color: $main-color;
        text-decoration: underline;
        cursor: pointer;
        font-size: 11px;

        &:hover {
            text-decoration: none;
        }
    }
}

.wishlist__resize {
    float: right;
    background: none;
    border: none;
    outline: none;
    color: $main-color;
    cursor: pointer;

    span {
        vertical-align: top;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}