* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Franklin Gothic;
    src: url("../fonts/Franklin Gothic Book Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

.page {
    padding-bottom: 108px;
    color: #e5e5e5;
    min-height: 100%;
    position: relative;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    background: #2f3239;
}

.header-container {
    width: 100%;
    background: #30333a;
    background: linear-gradient(to bottom, #2f3239 0%,#282b32 9%,#24272e 11%,#222328 15%,#1a1b1f 20%,#1a1b20 21%,#17181d 21%,#18191d 22%,#16171b 22%,#191a1c 22%,#000002 23%,#000000 23%,#000000 66%,#000004 67%,#333237 67%,#30333a 67%,#272a31 77%,#090a0c 100%);
    padding-bottom: 26px;

    .header {
        width: 1014px;
        margin: 0 auto;

        &__content {
            background: url("../images/car-bg.png") no-repeat top right;
            padding-bottom: 90px;
            margin-bottom: 33px;

            &__logo {
                display: block;
                text-decoration: none;
                padding-top: 83px;
                padding-left: 95px;
                color: #fd7a05;
                font: 36px "Arial Narrow", sans-serif;
                margin-bottom: 18px;
            }

            &__slogan {
                padding-left: 95px;
                color: #a8aebe;
                font: lighter 18px "Franklin Gothic", sans-serif;
            }
        }

        &__nav-container {
            background: #fd5d03;
            background: linear-gradient(#fd6a03, #fd5303);
            width: 100%;

            .header__nav {
                width: 1014px;
                margin: 0 auto;
                padding: 0 0 5px 23px;

                &__item:link,
                &__item:visited {
                    display: inline-block;
                    padding: 12px 34px 5px 34px;
                    text-decoration: none;
                    color: #23262b;
                    transition: background 0.4s;
                    font: bold 16px Arial, sans-serif;

                    &:hover,
                    &:active {
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                        background: linear-gradient(to bottom, #212327 0%,#16181a 100%);
                        color: #fd5d03;
                    }
                }

                .active {
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    background: linear-gradient(to bottom, #212327 0%,#16181a 100%);
                    color: #fd5d03;
                }
            }

        }


    }
}

.content-container {
    background: #2f3239;
    width: 100%;

    .content {
        margin: 0 auto;
        width: 1014px;
        padding: 0 29px 0 21px;
        color: #e5e5e5;
        line-height: 14px;

        &__item {
            width: 316px;
            padding: 16px 21px 26px 21px;
            border-left: 1px dashed #a9a9a9;
            height: 100%;
            display: table-cell;

            &:last-of-type {
                border-right: 1px dashed #a9a9a9;
            }

            &__heading {
                color: #fd6703;
                font: bold 18px Arial, sans-serif;
                margin-bottom: 25px;
            }
        }
    }
}

.about {
    &__text {
        margin-bottom: 14px;

        &--bold {
            font-weight: bold;
        }
        &--link {
            color: #e5e5e5;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.services {
    width: 327px;

    &__text {
        margin-bottom: 18px;
    }

    &__list {
        list-style-type: none;

        &__item {
            font-weight: bold;
            margin-bottom: 15px;

            &:before {
                content: "•";
                display: inline-block;
                padding-right: 9px;
                color: #f97a25;
                width: 10px;
                height: 10px;
            }
        }
    }
}

.gallery__item {
    .img-small {
        float: left;
        padding: 5px;
        background: white;
        margin: 10px 10px;
        cursor: pointer;
    }
}

.gallery-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;

    .close {
        position: fixed;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: black;
        color: white;
        border-radius: 50%;
        right: 30px;
        top: 30px;
        font-size: 20px;
        cursor: pointer;
        font-family: Tahoma, sans-serif;
        border: none;
        outline: none;
        user-select: none;
        transition: 0.6s ease;

        &:hover {
            color: red;
        }
    }

    .img-large {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        user-select: none;
    }
}

.gallery-overlay_content {
    .prev,
    .next {
        cursor: pointer;
        position: fixed;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;

        &:hover {
            color: red;
        }
    }

    .prev {
        left: 30px;
    }

    .next {
        right: 30px;
    }
}

.footer-container {
    width: 100%;
    background: #000000;
    position: absolute;
    bottom: 0;
    border-bottom: 9px solid #fd6b03;
    height: 108px;
}

.footer {
    margin: 0 auto;
    width: 1014px;
    padding: 15px 0 19px 49px;
    color: #d6d5d5;
    font: 12px Tahoma, sans-serif;

    &__address {
        color: #fd6703;
        font: 18px Arial,sans-serif;
        margin-bottom: 12px;
    }
}