/* =Global Styles
-------------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

/* =Top menu
-------------------------------------------------- */

.top-menu-container {
    background: #ededed;
}

.top-menu {
    width: 1014px;
    margin: 0 auto;
    padding: 8px 0;

    a {
        color: #676767;
        margin-right: 20px;

        &:last-of-type {
            float: right;
        }
    }
}

/* =Header
-------------------------------------------------- */

.header-container {
    background: #1c90bd;
}

.header {
    width: 1014px;
    margin: 0 auto;
    position: relative;

    .header__logo {
        display: inline-block;
        margin: 3px 0 0 10px;
    }
}

.header__menu {
    padding-top: 20px;
    padding-bottom: 25px;
    margin-left: 10px;
    display: inline-block;
    float: right;
}

/* =News
-------------------------------------------------- */

.news {
    background: #196988;
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 0;
    width: 370px;
    text-align: center;
    box-shadow: -1px -1px 1px #7bbed7, inset 1px 1px #7bbed7;
    margin-right: 20px;
    position: relative;

    .news__item {
        color: #fff;
        display: none;

        &.active {
            display: inline-block;
        }
    }

    button {
        width: 12px;
        height: 11px;
        border: none;
        outline: none;
        cursor: pointer;
        margin: 6px 0;
        text-indent: -10000px;
        position: absolute;
        top: 2px;
    }

    .news__btn--previous {
        background: url("../images/news-back.png") no-repeat top left;
        left: 6px;
    }

    .news__btn--next {
        background: url("../images/news-forward.png") no-repeat top right;
        right: 6px;
    }
}

/* =Login and Register buttons
-------------------------------------------------- */

.header__btn {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    height: 36px;
}

.login {
    width: 100px;
    padding: 11px 12px 15px 44px;
    background: url("../images/login-btn.gif");
    margin-right: 15px;
}

.register {
    width: 166px;
    padding: 11px 23px 15px 55px;
    background: url("../images/register-btn.gif");
}

/* =Navigation
-------------------------------------------------- */

.header__nav {
    overflow: hidden;
    clear: both;

    a {
        color: #fff;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
        background: #036589;
        padding: 10px 0;
        width: 128px;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        float: left;
        margin-right: 5px;

        &.personal {
            background: #8ac25f;
            width: 145px;
        }

        &:last-child {
            margin-right: 52px;
            float: right;
            background: #74bad3;
            width: 92px;
        }

        &:hover,
        &.active {
            background: #00374e;
        }
    }
}

/* =Main Section
-------------------------------------------------- */

.main {
    border: 5px solid #00374e;
    background: #00374e;
    width: 1014px;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* =Banner Block
-------------------------------------------------- */

.toggle-banner-btn {
    width: 28px;
    height: 18px;
    text-indent: -10000px;
    border: none;
    outline: none;
    background: url("../images/hide-banner-btn.png");
    position: absolute;
    right: 5px;
    bottom: -7px;
    cursor: pointer;
    z-index: 3;

    &.hidden {
        background: url("../images/show-banner-btn.png");
        bottom: -9px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}

.banner {
    background: #19617b;
    font-size: 12px;
    padding: 12px 40px 25px;
    position: relative;
    border-radius: 3px;

    .banner__item {
        display: none;

        &.active {
            display: block;
        }
    }

    h2 {
        font-family: "Times New Roman", sans-serif;
        font-size: 25px;
        margin-bottom: 16px;
        float: left;
    }

    p {
        clear: both;

        &:first-of-type {
            margin-bottom: 15px;
        }
    }

    .banner__pagination {
        float: right;
        margin-right: 122px;

        a {
            display: inline-block;
            width: 25px;
            height: 25px;
            background: #1c90bd;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            text-align: center;
            padding-top: 3px;
            font-weight: bold;
            margin-right: 5px;

            &:hover,
            &.selected {
                background: #2bbcf2;
            }
        }
    }

    .banner__btn--previous,
    .banner__btn--next {
        position: absolute;
        bottom: 10px;
        width: 25px;
        height: 25px;
        border: none;
        outline: none;
        display: inline-block;
        cursor: pointer;
    }

    .banner__btn--previous {
        left: 8px;
        background: url("../images/banner__previous-btn.png");
    }

    .banner__btn--next {
        right: 8px;
        background: url("../images/banner__next-btn.png");
    }
}

/* =Content Block
-------------------------------------------------- */

.content {
    height: 510px; //temp
    border-top: 5px solid #00374e;
    border-radius: 5px;
    background: #fff;
}

/* =Footer
-------------------------------------------------- */

.footer {
    width: 1014px;
    margin: 0 auto;
    font-size: 10px;
    padding: 23px 0 195px;

    a {
        color: #676767;
        margin-right: 38px;

        &:last-child {
            float: right;
            margin-right: 10px;
        }
    }
}