<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD MVC</title>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/doT.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="profiles-container">
        <template id="profiles-template">
            <button class="btn btn--add-profile">Add Profile</button>
            <ul class="profiles-list">
                {{? it.length !== 0 }}
                {{~it :value:index}}
                <li class="profiles-list__item" id="{{= value.id}}">
                    {{= value.name}} {{= value.age}}, {{= value.price}}
                </li>
                {{~}}
                {{??}}
                <li>No profiles yet</li>
                {{?}}
            </ul>
        </template>
    </div>

    <div class="form-container">

        <template id="add-form-template">
            <form action="" class="form add-profile-form">
                <fieldset>
                    <legend>Fill out these fields to register</legend>
                    <div class="form__field">
                        <label for="firstname">First Name</label>
                        <input type="text" id="firstname" name="firstname">
                    </div>
                    <div class="form__field">
                        <label for="lastname">Last Name</label>
                        <input type="text" id="lastname" name="lastname">
                    </div>
                    <div class="form__field">
                        <label for="nickname">Nickname<b>*</b></label>
                        <input type="text" id="nickname" name="nickname">
                    </div>
                    <div class="form__field">
                        <label for="age">Age<b>*</b></label>
                        <input type="text" id="age" name="age">
                    </div>
                    <div class="form__field">
                        <label for="price">Price<b>*</b></label>
                        <input type="text" id="price" name="price">
                    </div>
                    <button type="button" class="btn btn--save">Save</button>
                </fieldset>
            </form>
        </template>

        <template id="edit-form-template">
            <form action="" class="form edit-profile-form" id="{{= it.id}}">
                <fieldset>
                    <legend>Update or Delete Your Profile</legend>
                    <div class="form__field">
                        <label for="firstnameUpd">First Name</label>
                        <input type="text" id="firstnameUpd" name="firstname" value="{{= it.firstname}}">
                    </div>
                    <div class="form__field">
                        <label for="lastnameUpd">Last Name</label>
                        <input type="text" id="lastnameUpd" name="lastname" value="{{= it.lastname}}">
                    </div>
                    <div class="form__field">
                        <label for="nicknameUpd">Nickname<b>*</b></label>
                        <input type="text" id="nicknameUpd" name="nickname" value="{{= it.nickname}}">
                    </div>
                    <div class="form__field">
                        <label for="ageUpd">Age<b>*</b></label>
                        <input type="text" id="ageUpd" name="age" value="{{= it.age}}">
                    </div>
                    <div class="form__field">
                        <label for="priceUpd">Price<b>*</b></label>
                        <input type="text" id="priceUpd" name="price" value="{{= it.price}}">
                    </div>
                    <button type="button" class="btn btn--update">Update</button>
                    <button type="button" class="btn btn--delete">Delete</button>
                </fieldset>
            </form>
        </template>

    </div>
    <script src="js/crud_with_mvc.js"></script>
</body>
</html>