﻿* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #473B38;
    color: #decacb;
    font-size: 12px;
    line-height: 19px;
}

.page {
    width: 950px;
    margin: 0 auto;
    min-height: 100%;
    padding-bottom: 120px;
    position: relative;
}

.header {
    height: auto;
    border-bottom: 1px solid #6A5455;
    overflow: hidden;
}

.header__company {
    width: 105px;
    height: 100px;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}

.header__company__img {
    width: 105px;
    height: 60px;
}

.nav {
    float: right;
    margin-top: 70px;
}

.nav__item:link,
.nav__item:visited {
    text-decoration: none;
    margin-right: 25px;
    padding-top: 5px;
    font-size: 13px;
    color: #decacb;
}

.nav__item:hover,
.nav__item:active,
.active {
    border-top: 10px solid #584344;
}

.nav__item:last-child {
    margin-right: 0;
}

.club {
    padding: 30px 20px 55px 0;
}

.club__audience {
    float: left;
    background: #584344;
    border: 1px solid #805d5f;
    padding: 25px 20px 25px 120px;
    margin: 0 40px 30px -120px;
    width: 400px;
}

.club__audience__heading {
    color: #decacb;
    margin-bottom: 20px;
    font-size: 19px;
}

.club__audience__heading--bolder {
    font-weight: bolder;
}

.club__application {
    background: url("../images/2.jpg") no-repeat left center;
    width: 610px;
    float: right;
    padding-bottom: 50px;
}

.club__application__fieldset{
    border: none;
}

.club__application__heading {
    color: #96d1da;
    text-align: right;
    padding-right: 25px;
    margin-bottom: 15px;
    font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}

.club__application__item {
    text-align: right;
    margin-bottom: 10px;
}

.club__application__item__input {
    width: 170px;
    margin-left: 20px;
    border: 1px solid #96d1da;
    padding: 1px;
}

.main {
    clear: both;
    overflow: hidden;
    position: relative;
    top: -40px;
}

.cooperation {
    float: left;
    background: #392f2b;
    padding: 25px 15px 45px 10px;
    border-radius: 5px;
    width: 280px;
    margin-right: 40px;
    color: #a28c8b;
}

.cooperation__content {
    margin-bottom: 25px;
}

.cooperation__content--white {
    padding: 30px 0;
    display: block;
    color: #ffffff;
    font-style: italic;
    font-weight: bolder;
}

.btn{
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    width: 250px;
    font: 700 13px Arial;
    letter-spacing: 0.5px;
    display: inline-block;
    border: none;
    margin-top: 25px;
    text-shadow: -1px -1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 1px 0 rgb(13,94,106);
    background: #209cae;
    background: linear-gradient(#473b38 0%,#473b38 1%,#1a92a3 1%,#50a9b6 2%,#1a93a4 100%);
    outline: none;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    box-shadow: 0 4px 2px 0 rgb(13,94,106);
}

.article {
    float: right;
    width: 630px;
}

.article__heading {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #96d1da;
    margin-bottom: 25px;
    padding-top: 60px;
}

.article__content {
    margin-bottom: 35px;
}

.clearfix {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

/* ---------------------------------------- The participants */

.content {
    padding: 60px 15px 20px 0;
    overflow: hidden;
}

.content__subheading {
    float: left;
    color: #ffffff;
}

.content__link:link,
.content__link:visited {
    float: right;
    color: #decacb;
    font-weight: bolder;
}

.content__link:hover,
.content__link:active {
    text-decoration: none;
}

.gallery {
    float: right;
    width: 630px;
}

.gallery__item {
    display: inline-block;
    width: 105px;
    height: 105px;
    border: 10px solid #392e2b;
    margin-right: 20px;
    margin-bottom: 20px;
}

.gallery__item:nth-of-type(5n) {
    margin-right: 0;
}

/* ---------------------------------------- Footer */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #6A5455;
    height: 120px;
    padding: 15px 0;
}

.footer__logo {
    float: left;
}

.footer__content:link,
.footer__content:visited {
    color: #ffffff;
    margin-left: 10px;
    display: inline-block;
    padding-top: 35px;
}

.footer__content:hover,
.footer__content:active {
    text-decoration: none;
}